1.Explain the key features of Python that make it a popular choice for programming?
Ans:
a. The key features of python is known for readability and simplicity.
b. It's a interpreted language.
c. No need to define variable types ex: x = 10 # int
d. Ease of learning.

"""
2. Describe the role of predefined keywords in Python and provide examples of how they are used in a
program?

Ans: The role of predefined keywords in python are reserved keywords. It cannot be used as variables names, functions names. Example are
if, elif, else (conditionals statements)
for, while, break, continue (looping statements)

In [ ]:
x = 10
if x % 2 == 0:
  print("even")
elif x != 0:
  print("odd")
else:
  print("none")

even

In [ ]:
count = 0
while count < 3:
    print("Count is", count)
    count += 1

Count is 0
Count is 1
Count is 2

In [ ]:
num = 1
while num <= 5:
    if num == 4:
        break
    print(num)
    num += 1

1
2
3

In [ ]:
num = 0
while num < 5:
    num += 1
    if num == 3:
        continue
    print(num)

1
2
4
5

In [ ]:
for i in range(5):
    print("Value is", i)

Value is 0
Value is 1
Value is 2
Value is 3
Value is 4

3. Compare and contrast mutable and immutable objects in Python with examples?
Ans:
Mutable objects can be changed after
creation. And the changes affect the object in places.
Ex: List, Dict, set, bytearray

In [ ]:
#List
my_list = [1, 3, 6, 9]
my_list[0] = 7
print(my_list)

[7, 3, 6, 9]

Immutable objects are cannot be changed after creation.
  Ex: int, float, str, tuple, bool

In [ ]:
#tuple
my_tuple = ("apple", "banana", "cherry")
print(my_tuple[2])

cherry

4. Discuss the different types of operators in Python and provide examples of how they are used?
Ans:

In [ ]:
# Arithmetoc operators(+, -, %, *, /, //, **)
a = 10
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

14
6
40
2.5
2
2
10000

In [ ]:
# Assignment operators(=, +=, -=, *=, /=)
x = 3
x += 2
print(x)

5

In [ ]:
x = 5
x -= 3
print(x)

2

In [ ]:
x = 5
x *= 3
print(x)

15

In [ ]:
x = 4
x /= 2
print(x)

2.0

In [ ]:
# Comparision operators (==, !=, <, >, <=, >=)
x = 24
y = 30
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [ ]:
# Logical Operators(and, or, not)
x = 2
y = 3
print(x and y)
print(x or y)

3
2

In [ ]:
# bitwise operators(&, |, <<, >>, ^, ~)
a = 5
b = 4
print(a&b)
print(a|b)
print(a^b)
print(~b)
print(a<<b)
print(a>>b)

4
5
1
-5
80
0

In [ ]:
# Identity operators(is, is not)
x = 10
y = 3
z = 10
print(x is y)
print(x is not y)

False
True

In [ ]:
# Membership Operators(in, not in)
x = ['a', 'b']
print('a' in x)
print('c' in x)

True
False

5.  Explain the concept of type casting in Python with examples?
Ans: Type casting is the process of changing the data type to meet the requirements.There are two types Implicit and Explicit.

In [ ]:
#ex: Implicit type casting: It will understands the type of data type
x = "2"
type(x)

str

In [ ]:
#ex: Explicit type casting: It will change the built-in function into another data type
x = 1.0
int(x)

1

6.  How do conditional statements work in Python? Illustrate with example?
Ans: 1. if: It executes if condition is true
     2. if, else: It executes one block if condition is true or it executed another block
     3. if, elif, else: Executes multiple conditions

In [ ]:
#if
x = 10
if x >= 10:
  print(x)

10

In [ ]:
#if, else
x = 5
if x == 0:
  print("even")
else:
  print("odd")

odd

In [ ]:
#if, elif, else
score = 100
if score >= 90:
  print("grade A")
elif score >= 80:
  print("grade B:")
elif score >= 70:
  print("grade C")
else:
  print("grade F")

grade A

In [ ]:
#Nested if
x = -1
if x > 0:
  if x % 2 == 0:
    print("positive even")
  else:
    print("positive odd")
else:
  print("not a positive number")

not a positive number

 7. Describe the different types of loops in Python and their use cases with examples?
 Ans: for loop: Iterate Over a sequence
      while loop: Repeat as long as condition is true
      Nested loops: A loop inside another loop

In [ ]:
#for loop
x = "hello"
for i in x:
  print(i)

h
e
l
l
o

In [ ]:
#while loop
i = 1
while i <=4:
  print("hey")
  i = i + 1

hey
hey
hey
hey

In [ ]:
#nested loops:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1